{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1>{{ tech['name'] }}</h1>
        {% if tech['ring'] is not none %}
            <p><strong>Anneau:</strong> {{ tech['ring'] }}</p>
        {% endif %}
        <p><strong>Type:</strong> {{ tech['type'] }}</p>
        <p><strong>Rang:</strong> {{ tech['rank'] }}</p>
        {% if tech['category'] is not none %}
            <p><strong>Catégorie:</strong> {{ tech['category'] }}</p>
        {% endif %}
        {% if tech['activation'] is not none %}
            <p><strong>Activation:</strong>
                <br>{{ tech['activation'] }}</p>
        {% endif %}
        {% if tech['effect'] is not none %}
            <p><strong>Effets:</strong>
                <br>{{ tech['effect'] }}</p>
        {% endif %}
        {% if tech['opportunity'] is not none %}
            <p><strong>Aubaines:</strong>
                <br>{{ tech['opportunity'] }}</p>
        {% endif %}
        {% if tech['book'] is not none %}
            <p><strong>Livre:</strong> {{ tech['book'] }}</p>
        {% endif %}
    </div>
{% endblock %}
