{% extends 'base.html' %}

{% block header %}
  <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
  <link href="https://unpkg.com/tabulator-tables/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
  <h1>Techniques</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col">
          Type:
          <select id="filter-type">
            <option></option>
            <option value="Kata">Kata</option>
            <option value="Invocation">Invocation</option>
            <option value="Kihō">Kihō</option>
            <option value="Rituel">Rituel</option>
            <option value="Shūji">Shūji</option>
          </select>
        </div>

        <div class="col">
          Anneau:
          <select id="filter-ring">
            <option></option>
            <option value="Terre">Terre</option>
            <option value="Eau">Eau</option>
            <option value="Feu">Feu</option>
            <option value="Air">Air</option>
            <option value="Vide">Vide</option>
          </select>
        </div>

        <div class="col">
          Catégorie (Kata):
          <select id="filter-category">
            <option></option>
            <option value="Général">Général</option>
            <option value="Corps à corps">Corps à corps</option>
            <option value="Distance">Distance</option>
          </select>
        </div>
      </div>
      <div id="tech-table"></div>

      <script>
        //Define variables for filter elements
        var typeEl = document.getElementById("filter-type");
        var ringEl = document.getElementById("filter-ring");
        var categoryEl = document.getElementById("filter-category");

        //Trigger setFilter function with correct parameters
        function updateFilter(){
          var typeFilterVal = typeEl.options[typeEl.selectedIndex].value;
          var ringFilterVal = ringEl.options[ringEl.selectedIndex].value;
          var categoryFilterVal = categoryEl.options[categoryEl.selectedIndex].value;

          table.clearFilter();
          if(typeFilterVal){
            table.addFilter("type", "=", typeFilterVal);
          }
          if(ringFilterVal){
            table.addFilter("ring", "in", [ringFilterVal, none]);
          }
          if(categoryFilterVal){
            table.addFilter("category", "=", categoryFilterVal);
          }
        }

        //Update filters on value change
        document.getElementById("filter-type").addEventListener("change", updateFilter);
        document.getElementById("filter-ring").addEventListener("change", updateFilter);
        document.getElementById("filter-category").addEventListener("change", updateFilter);

        var tabledata = JSON.parse('{{ techs | tojson | safe }}');
        console.log(tabledata);
        var table = new Tabulator("#tech-table", {
          rowSelected:function(row){
            idChange(table.getSelectedData()[0]['id']);
          },
          data:tabledata,
          layout:"fitColumns",
          pagination:"local",
          paginationSize:20,
          selectable:1,
          initialSort:[
            {column:"rank", dir:"asc"},
          ],
          columns:[
            {title:"Nom", field:"name"},
            {title:"Rang", field:"rank"},
            {title:"Type", field:"type", visible:false},
            {title:"Anneau", field:"ring", visible:true},
            {title:"Catégorie", field:"category", visible:false},
          ],
        });
      </script>
    </div>

    <div class="col-12 col-md-6">
      <script type="text/javascript">
        function idChange(id){
          document.getElementById("detailIFrame").src = "/"+id+"/detail";
        }
      </script>
      <iframe id="detailIFrame" src="/1/detail" width="100%" height="1000"></iframe>
    </div>
  </div>
</div>

{% endblock %}
